MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority&appName=<AppName>
MONGODB_DB=university-doc-system

# Domain / Deployment
# Đổi thành domain thực tế khi deploy lên VPS (ví dụ: https://student.yourdomain.com)
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Port mà Next.js lắng nghe (dùng trong docker/pm2)
PORT=3000
# Bật production mode
NODE_ENV=production
